.main_projects{
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .ProjectHead{
        text-align: center;
        margin-top: 1rem;
        padding: 1rem;
        max-width: 550px;
        margin: 0 auto;
        text-shadow: 2px 1px 4px #00FFFF;
        font-variant: small-caps;
        font-size: 2rem;
    }
    .Items{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1rem, 18rem));
        gap: 2.5rem;
        justify-content: center;
        align-items: center;
        padding:1rem;
        flex-wrap: wrap;
  }
}
.card{
    background-color: rgb(74, 72, 72);
    box-shadow: 0 0 15px rgb(0, 255, 255);
   
    border-radius: 25px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-self: normal;
    padding:10px;

    .card_image{
        height: 11rem;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
    }
    .card_title{
        padding:0.5rem;
        font-size: 1rem;
        font-weight: 550;
    }
    .card_desc{
        padding: 0 0.5rem;
        margin-bottom: 10px;
        font-size: 0.8rem;
    }
    /* .btn{
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0.3rem; */
    .card_btn{
        font-family:cursive;
        font-weight: 550;
        font-size: 0.8rem;
        padding:0.1rem;
        border: 2px solid blue;
        background: white;
        margin-left: 0.5rem;
        color: black;
        border-radius: 0.7rem;
        width: 3.5rem;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        }
    
}
.card:hover{
    transform: translateY(5px);
    cursor: pointer;
}
    

