.main_projects{
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .ProjectHead{
        border-bottom: 2px solid yellow;
        text-align: center;
        margin-top: 1rem;
        padding: 1rem;
        max-width: 550px;
        margin: 0 auto;
        text-shadow: 3px 3px 3px #00FFFF;
        font-variant: small-caps;
        font-size: 1.5rem;
    }
    .Items{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1rem, 18rem));
        gap: 2.5rem;
        justify-content: center;
        align-items: center;
        padding:1rem;
        flex-wrap: wrap;
  }
}
.card{
    background-color: #555;
    box-shadow: 0 2px 5px 5px;
    border-radius: 25px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-self: normal;
    padding:10px;

    .card_image{
        height: 11rem;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
    }
    .card_title{
        padding:0.5rem;
        font-size: 1rem;
        font-weight: 550;
    }
    .card_desc{
        padding: 0 0.5rem;
        margin-bottom: 10px;
        font-size: 0.8rem;
    }
    .card_btn{
        font-family:cursive;
        font-weight: bold;
        font-size: 1rem;
        
        border: 2px solid blue;
        background: white;

        color: black;
        border-radius: 50px;
        width: 80px;
        margin-left: 1rem;
        margin-top: 0.5rem;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        }
}
.card:hover{
    transform: translateY(5px);
}
    

