.topname{
  color: white;
  width: auto;
  height:100%;
  display: flex;
  flex-wrap: wrap;
  
  align-items: center;
  
  .headerName{
    padding-left: .5rem;
    padding-right: 0.5rem;
    animation: blink 4s linear infinite;
    color: #eeb56f;
    transition: 1sec;
    font-family:cursive;
  }
  @keyframes blink {
    50%{color: #008080;};
    50%{color: #1db3e5;}
    
  }
  .topbar{
      width:80px;
      display: none;
      .menuButton{
        cursor: pointer;
        
        display: none;
        width: 25px;
        height: 30px;
        display: flex;
        flex-direction: column;
        margin:10px auto;
      
        span{
          width: 25px;
          height: 3px;
          
          margin:3px auto;
          vertical-align: middle;
          
          background-color: white;
          transition: all 0.5s ease;
        }
    }
    &.active{
      .menuButton{
        span{
        transform-origin: left;
        &:first-child{
          transform: rotate(45deg);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:last-child{
          transform: rotate(-45deg);
        }
      }
    }
  }
  @media only screen and (max-width: 1300px) { 
    display: block;
  }
  }
}