.contact{
    background-color: #2d3e50;
    display: flex;
    flex-direction: column;
    .contact_head{
        text-align: center;
        margin-top: 1rem;
        padding: 1rem;
        width:100%;
        margin: 0 auto;
        color: white;
        text-shadow: 3px 3px 3px #dbecec;
        font-variant: small-caps;
    }
    .box_contact{ 
        max-width: 600px;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 10px;
        padding: 1rem;
        margin: 0 auto;
        form{
           display: flex;
           flex-direction: column;
            .name, .mail_id, .msg, .contact_button{
                margin: 0.3em;
                padding: 0.3rem;
                border-radius: 7px;
                font-size: 0.7rem;
            } 
            .name, .mail_id{
                width: 250px;
            }
            .msg{
                height: 100px;
                width: 250px;
            }
            .contact_button{
                background: #333;
                width:80px;
                font-weight: 900;
                height:30px;
                text-align: center;
                cursor: pointer;
                text-transform: uppercase;
                color: white;
                border: 1px solid white;
                border-radius: 10px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-style: italic;
            }
        }
        .social_contact{
            max-width: 80px;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            .icon{
                width:40px;
                height:40px;
                padding: 0.5rem;
                background-color: white;
                border-radius: 50%;
                text-align: center;
               
                margin: 0 auto;
                margin-top: 0.5rem;
                margin-right: 1rem;
            }
        }
        @media only screen and (max-width: 450px){
            .social_contact{
                flex-direction: row;
                max-width:300px;
            }
        }
    }
}