.wrapper{
    border:5px;
    padding-top:1rem;
    text-align: center;
    .top{
        padding: 0.5rem;
        .outer{
            
            display: flex;
            justify-content: center;
            align-items: center;
            width:4rem;
            height:4rem;
            margin: 0 auto;
            background-color: rgb(136, 245, 245);
            border-radius: 50%;
        }
        img{
            
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid ;
            
        }
        .name{
            font-size:1.5rem;
            font-weight: 500;
            font-family: cursive;
        }
    }
    .menu ul{
        padding: 2rem 3rem;
        li{
            background: rgb(141, 210, 222);
            padding: 0.2rem;
            margin: 0.5rem;
            border-radius: 0.2rem;
            list-style-type: none;;
            box-shadow: 0 0 5px rgb(0, 255, 255);
            a{
                display: block;
                padding:0.5rem;
                background: #333;
                color: #fff;
                font-size:0.8rem;
                text-decoration: none;
                font-variant: small-caps;
                border-radius: 0.2rem;
                font-weight: 600;
                
            }
            a:hover{
                background: whitesmoke;
                color: #0d0ade;
                font-weight:500;
            }
        }
        
    }
}
