

.wrapper-top{
  width: 100%;
  height:55px;
    margin: 0 auto;
    position: fixed;
    z-index:999;
    background-color: #1f2328;
  .header{ 
    height:55px;
    margin: 0 auto;
    max-width: 1300px;
  }

}
.app{
  height: 100vh;
  max-width: 1250px;
  margin: 0 auto;
  /* background-color:#19202a; */
  /* background-image: url('../src/assets/material/bg2.jpg'); */
  
  
 
  
  
  .fixed-nav{
    width:280px;   
    height: calc(100vh - 70px);
    margin-top:60px;
    margin-left: 5px;
    position: fixed;
    z-index:999;
    padding: 1rem;
    background-color:#333;
    border-image-slice: 1;
    box-shadow: 0 0 15px rgb(0, 255, 255);
    &.active{
      left:2px;
    }
  }
  .info_section{
    height: calc(100vh - 70px);
    margin-top:60px;
    max-width:1050px;
    margin-left: 285px;
    position: relative;
    scroll-behavior: smooth;
    .bottom{
        height: 50px;
        color: white;
        background-color: #1f2328;

        line-height: 40px;
        text-align: center;
        font-variant:small-caps ;
        margin-bottom: 0;
    }
  }
  @media only screen and (max-width: 1200px) { 
    .fixed-nav{
      left:-305px;
      transition: 1s;
      width: auto;
      margin-left: 10px;
    }
    .info_section{
      width:100%;
      margin-left: 0;
      
    }
    .header, .app{
      width: 100%;
    }

  }
}
::-webkit-scrollbar{
  display: none;
}


